    body {
        width: 100%;
        height: 100%;
        background-color: black;
        margin: 0 auto;
    }

    ul {
        padding: 0px!important; 

    }


    .menu-principal {
        width: 100%;
        background-color: black;
        height: 60px;
    }

    .main, .content {
        margin: 0, auto;
        width: 980px;
        position: relative;
    }

    .logo {
        float: left;
        width: 70%;
    }

    .redes-sociais ul li {
        margin-left: 25px;
        display: inline-block;
        list-style: none;
        margin-top: 10px;
    }

    .redes-sociais {
        width: 15%;
        float:left;
        padding-left: 115px;
    }

    .redes-sociais ul{
        padding-left: 30px;
    }

    .header-2 {
        background-color: white;
        margin: 0 auto;
        margin-top: 10px;

    }

    .menu-urls {
        border-bottom: 3px solid #efefef;
        height: 60px;

    }

    .menu ul li {
        display: inline-block;
        color: #8b8b8b;
        margin-left: 15px;
        height: 50px;
    }

    .menu ul {
        border-bottom: 2px white;
        margin-left: 340px;
    }

    .menu ul li:hover {
        border-bottom: 1px solid green;
    }

    .menu ul li a:hover {
        color: green;

    }

    .menu ul li a {
        color: #8b8b8b;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
    }

    .menu {
        float: left;
    }

    .Busca {
        width: 400px;
        float: right;
    }

    .Busca input {
        background-image: url(../img/icone-search.png);
        background-repeat: no-repeat;
        padding: 12px;
        width: 190px;
        background-position: 96%;
        border: 1px solid #d6d6d6;
        border-radius: 10px;
    }

    .col-100 {
        width: 100%;
        position: relative;
        background-color: white;
    }

    .marquee{
        color: white;
        text-transform: uppercase;

    }

    .slider-principal {
        width: 100%;
        padding-left: 320px;
        padding-right: 320px;
        padding-top: 10px;
        padding-bottom: 60px;
        left: 0px;
        right: 900px;
        background-color: black;


    }
    button.slick-prev {
        font-size: 0px;
        border: none;
        width: 25px;
        height: 51px;
        z-index: 9;
        background-color: transparent;
        position: absolute;
        background-image: url(../img/anterior.png);
        top: 50%;
        text-align: center;
        left: 15%;
    }
    button.slick-next {
        font-size: 0px;
        border: none;
        width: 25px;
        height: 51px;
        z-index: 9;
        background-color: transparent;
        position: absolute;
        background-image: url(../img/proximo.png);
        top: 50%;
        right: 15%;
        text-align: center;
    }
    .slick-list {
        width: 100%!important;
    }

    li.slick-active button {
        background: white;
    }
 /*regras*/
    .jogo {
        color: #8b8b8b;
        text-align: center;
        text-transform: uppercase;
        padding-top: 2px;
        padding-bottom: 40px;
    }

    .etapa1 img {
        float: left;
        margin-right: 5px;
        padding-left: 250px;
        padding-top: 10px;
    }

    .etapa1 p{
        float: right;
        color: white;
        width: 600px;
        margin-right: 40px;
        margin-top: 130px;
        text-transform: uppercase;
        padding-bottom: 30px; 
        padding-left: 10px;
        padding-right: 10px;
        text-align:justify;
        font-size: 12px;
    }

    .etapa1-1 img{
        float: right;
        padding-top: 30px;
        margin-right: 350px;
        margin-left: 25px;
    }

    .etapa1-1 p{
        float: right;
        color: white;
        width: 730px;
        padding-top: 100px;
        margin-left: 100px;
        margin-bottom: 110px;
        text-transform: uppercase;
        text-align: right;
        font-size: 12px;
    }