.ranking img{
    float: left;
    margin-left: 150px;
    padding-left: 250px;
    margin-top: 35px;
}

.ranking h2{
    float: left;
    color: #a9a9a9;
    margin-bottom: 110px;
    margin-top: 50px;
    text-transform: uppercase;
    text-align: right;
}

.Melhores img{
    float: left;
    padding-left: 400px;
}

.Melhores h2{
    text-align: center;
    color: #a9a9a9;
    margin-top: 200px;
    text-transform: uppercase;
}

.Melhores p{
    float: left;
    color: white;
    margin-bottom: 50px;
    margin-top: 30px;
    padding-left: 10px;
    text-transform: uppercase;
}

.Melhores1 img{
    float: left;
    padding-left: 400px;
}

.Melhores1 h2{
    text-align: center;
    color: #a9a9a9;
    margin-top: 250px;
    text-transform: uppercase;
}

.Melhores1 p{
    float: left;
    color: white;
    margin-bottom: 50px;
    margin-top: 30px;
    padding-left: 10px;
    text-transform: uppercase;
}

.Melhores2 img{
    float: left;
    padding-left: 400px;
}

.Melhores2 h2{
    text-align: center;
    color: #a9a9a9;
    margin-top: 250px;
    text-transform: uppercase;
}

.Melhores2 p{
    float: left;
    color: white;
    margin-bottom: 50px;
    margin-top: 30px;
    padding-left: 10px;
    text-transform: uppercase;
}

.Melhores3 img{
    float: left;
    padding-left: 400px;
}

.Melhores3 h2{
    text-align: center;
    color: #a9a9a9;
    margin-top: 250px;
    text-transform: uppercase;
}

.Melhores3 p{
    float: left;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-left: 10px;
    text-transform: uppercase;
}

.Melhores4 img{
    float: left;
    padding-left: 400px;
}

.Melhores4 h2{
    text-align: center;
    color: #a9a9a9;
    margin-top: 250px;
    text-transform: uppercase;
}

.Melhores4 p{
    float: left;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-left: 10px;
    text-transform: uppercase;
}
